{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}
  {{- with or (.Page.Resources.GetMatch $path) (resources.GetMatch $path) -}}
    {{- $img := . -}}
    {{- if and (eq $img.MediaType.MainType "image") (ne $img.MediaType.SubType "svg") -}}
      {{- $sizes := slice 480 768 1024 1600 -}}
      {{- $srcset := slice -}}
      {{- range $sizes -}}
        {{- if ge $img.Width . -}}
          {{- $resized := $img.Resize (printf "%dx" .) -}}
          {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink .) -}}
        {{- end -}}
      {{- end -}}
      {{- if not $srcset -}}
         {{- $srcset = slice (printf "%s %dw" $img.RelPermalink $img.Width) -}}
      {{- end -}}
      <img
        src="{{ $img.RelPermalink }}"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        alt="{{ $.Text }}"
        srcset="{{ delimit $srcset ", " }}"
        sizes="(min-width: 1024px) 720px, 100vw"
        loading="lazy"
        decoding="async"
      >
    {{- else -}}
      <img src="{{ $img.RelPermalink }}" alt="{{ $.Text }}" loading="lazy" decoding="async">
    {{- end -}}
  {{- else -}}
    <img src="{{ $src | safeURL }}" alt="{{ $.Text }}" loading="lazy" decoding="async">
  {{- end -}}
{{- else -}}
  <img src="{{ $src | safeURL }}" alt="{{ $.Text }}" loading="lazy" decoding="async">
{{- end -}}
